img {
    max-width: 100%;
    max-height: 100%;
}

.imgsidebar {
  width: 95%;
  border:1px solid black;
  margin-bottom: 25px;
}


.imgtext {
  width: 35%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}


/* Sidebar panel */
.well {
  background-color: #fff;
  border-style: none;
  color: black;
}

.alert {
    padding: 5px;
    background-color: #BD3D3A;
    color: white;
    margin-bottom: 15px;
}

.infobox {
  padding: 5px;
  background-color: #d9ecd0; 
  margin-top: 5px;
  margin-bottom: 5px;
}

.filterbox {
    padding: 5px;
    background-color: #ecf0f1; 
    margin-bottom: 15px;
    margin-top: 5px;
}


.diagbox {
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	padding: 10px;
}

.confirmedbox {
  background-color: #ca0020;
  padding: 2px;
  color: white;
}

.presumptivebox {
  background-color: #f4a582;
  padding: 2px;
  color: black;
}

.noevidencebox {
  background-color: #92c5de;
  padding: 2px;
  color: black;
}

.floatbottom {
  position:fixed;
  width: 21%;
	bottom: calc(2%);
	left: calc(3%);
	z-index: 9999;
}
